In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import requests

In [2]:
URL = "https://api.covid19api.com/total/country/singapore/status/confirmed"
params = {}

In [3]:
response = requests.get(URL)
df= pd.read_json(response.text)
df.head()

,Country,CountryCode,Province,City,CityCode,Lat,Lon,Cases,Status,Date
0,Singapore,,,,,0,0,0,confirmed,2020-01-22 00:00:00+00:00
1,Singapore,,,,,0,0,1,confirmed,2020-01-23 00:00:00+00:00
2,Singapore,,,,,0,0,3,confirmed,2020-01-24 00:00:00+00:00
3,Singapore,,,,,0,0,3,confirmed,2020-01-25 00:00:00+00:00
4,Singapore,,,,,0,0,4,confirmed,2020-01-26 00:00:00+00:00