In [20]:
import pandas as pd
# reading csv files
col = ['price', 'buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety']
data =  pd.read_table('car.data', delimiter= ',', header=None, names=col, )
data

      price buying  maint doors persons lug_boot safety
0     vhigh  vhigh      2     2   small      low  unacc
1     vhigh  vhigh      2     2   small      med  unacc
2     vhigh  vhigh      2     2   small     high  unacc
3     vhigh  vhigh      2     2     med      low  unacc
4     vhigh  vhigh      2     2     med      med  unacc
...     ...    ...    ...   ...     ...      ...    ...
1723    low    low  5more  more     med      med   good
1724    low    low  5more  more     med     high  vgood
1725    low    low  5more  more     big      low  unacc
1726    low    low  5more  more     big      med   good
1727    low    low  5more  more     big     high  vgood

[1728 rows x 7 columns]