# Importing Libraries

In [22]:
import time
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.utils import resample
from sklearn.preprocessing import PolynomialFeatures, StandardScaler, MinMaxScaler, LabelEncoder, OneHotEncoder
from sklearn.linear_model import LogisticRegression, LinearRegression, Lasso, Ridge
from sklearn.model_selection import KFold, train_test_split, RepeatedKFold, cross_val_score, RandomizedSearchCV, GridSearchCV
from sklearn.metrics import roc_auc_score, mean_squared_error
import statsmodels.formula.api as smf
from sklearn.metrics import *
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import plot_tree
from sklearn.ensemble import GradientBoostingClassifier, GradientBoostingRegressor, RandomForestRegressor, ExtraTreesRegressor
from sklearn import svm
#from xgboost import XGBRegressor
from sklearn.cluster import DBSCAN
from sklearn.decomposition import PCA

# reading csv files

In [27]:
col = ['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety', 'class_value']
df =  pd.read_table('car.data', delimiter= ',', header=None, names=col)
df.head()

  buying  maint doors persons lug_boot safety class_value
0  vhigh  vhigh     2       2    small    low       unacc
1  vhigh  vhigh     2       2    small    med       unacc
2  vhigh  vhigh     2       2    small   high       unacc
3  vhigh  vhigh     2       2      med    low       unacc
4  vhigh  vhigh     2       2      med    med       unacc

# Statistic Summary of df

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1728 entries, 0 to 1727
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   price     1728 non-null   object
 1   buying    1728 non-null   object
 2   maint     1728 non-null   object
 3   doors     1728 non-null   object
 4   persons   1728 non-null   object
 5   lug_boot  1728 non-null   object
 6   safety    1728 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [32]:
df.describe()

       buying maint doors persons lug_boot safety class_value
count    1728  1728  1728    1728     1728   1728        1728
unique      4     4     4       3        3      3           4
top      high  high     2       2    small   high       unacc
freq      432   432   432     576      576    576        1210

In [26]:
df.price.unique()

array(['vhigh', 'high', 'med', 'low'], dtype=object)